body {
  margin: 0;
}
header {
  background:gray;
  padding: 10px;
}

h1{
  margin: 0;
}

.container{
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 30px 200px;
  box-sizing: border-box;
}

.btn-wrap{
  width: 100%;
  text-align: center;
}

.btn{
  padding: 5px 30px;
  font-size: 1.1rem;
  background-color: rgb(7, 123, 255);
  color: white;
  border: none;
  border-radius: 5px;
}
